body {
	font: 16px Calibri;

	margin: 0;
}

.bg {
	position: fixed;

	width: 100%;
	height: 100%;

	background: url('img/traveller.jpg') no-repeat;
	background-size: cover;

	//&:nth-child(2){
	// 	background-image: url('img/i5.jpg');
	// }
}



