<!DOCTYPE html>
<html lang="en" ng-app="travellerApp">
<head>
	<meta charset="UTF-8">
	<title>Traveller</title>
	<link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
	<link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="main.css">
</head>
<body ng-controller="JourneysList">
	<div class="bg" hidden></div>
	<div class="bg"></div>
	<input id="search-input" type="checkbox" hidden>
	<header class="header clearfix">
		<a class="header-logo">Traveller</a>
		<label class="header-search" for="search-input"></label>
	</header>
	<div class="content">
	<h1 class="content-header">Hot tours + {{journeys.length}}</h1>

	<section ng-repeat="journey in journeys | filter:{name:query}" class="item" data-bg="{{journey.bg2}}" style="background-image: url({{journey.bg}})">
		<div class="item-description">
			<h3 class="item-description-header">{{journey.name}}</h3>
			<p class="item-description-content1">{{journey.content1}}</p>
			<p class="item-description-content2">{{journey.content2}}</p>
		</div>
	</section>

	</section>

	</div>

	<div class="search">
		<label for="search-input" class="search-close">X</label>
		<input ng-model="query" class="search-input" type="text" placeholder="Type here please" autofocus>
	</div>


	<script src="js/angular.min.js"></script>
	<script src="js/app2.js"></script>

	<script src="js/jquery-2.1.4.min.js"></script>
	<script src="js/app1.js"></script>


</body>
</html> 